*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
.setting/
/build
captures
.externalNativeBuild
.cxx
/google-services.json
.DS_Store
*.keystore
!debug.keystore
